.slider {
   position: relative;
   width: 250px;
   height: 300px;
   &__imsges-container {
      position: relative;
      display: flex;
   }
   &__btns {
      position: absolute;
      z-index: 10;
      top: 140%;
   }
}

.slider__image {
   position: absolute;
   opacity: 0;
   z-index: 1;
   transition: opacity 1s;
   &.visible {
     opacity: 1;
     z-index: 2;
   }
 }