.slider {
   width: 400px;
	height: 414px;
	background: url('/assets/images/comp_plate_graybasic.png') no-repeat;
	background-size: 100%;
   z-index: 20;
   background-position: -2px 0;
   padding: 10px 10px;
   &__images-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      & img {
         width: 100%;
         position: relative;
      }
   }
   &__caption {
      position: absolute;
   }
   &__text {
      max-height: 2.5rem;
      height: 100%;
      width: 95%;
      overflow: hidden;
   }
   &__note {
      opacity: 0;
   }
   &__note-expand {
      opacity: 1;
    }
   &__note-container {
      position: absolute;
      z-index: 10;
      top: 60%;
   }
   &__btns {
      position: absolute;
      z-index: 10;
      top: 70%;
   }
}

.slider__image {
   position: absolute;
   width: 410px;
   margin: 0 auto;
   opacity: 0;
   z-index: 1;
   transition: opacity 1s;
   &.visible {
     opacity: 1;
     z-index: 2;
   }
 }

 